<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juanlucode.myform">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_form"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MyFormMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pantalla2Activity"
            android:parentActivityName="com.example.juanlucode.myform.MyFormMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.juanlucode.myform.MyFormMainActivity" />
        </activity>
        <activity
            android:name=".Pantalla3Activity"
            android:parentActivityName="com.example.juanlucode.myform.MyFormMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.juanlucode.myform.MyFormMainActivity" />
        </activity>
    </application>

</manifest>